{% extends 'base.html.twig' %}

{% block title %}Détail de la formation {{ formation.getFormationName() }}{% endblock %}

{% block body %}
<h3 class="p-3">Formation : {{ formation.getFormationName() }}</h3>
{% for session in formation.sessions %}
    
    <p><a class="text-decoration-none text-success border border-success rounded p-2" href="/session/{{ session.getId() }}">{{ session.getSessionName() }}</a>, du <strong>{{ session.getDateDebutSession()|date('d/m/Y') }}</strong> au <strong>{{ session.getDateFinSession()|date('d/m/Y') }}</strong></p><br>
    
{% endfor %}


{% endblock %}