{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<h1>Liste des modules de formation :</h1>
<a href="{{path('form_module_new')}}" class="btn btn-primary">Ajoutez un module</a>

{% for formModule in formModules %}

        <p><a href="{{path('form_module_detail', {'id': formModule.getId()})}}">{{ formModule.getModuleName() }}</a> - Catégorie : {{ formModule.categorie.CategoryModuleName }}</p>
    
{% endfor %}

{% endblock %}
