{% extends 'base.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<h3 class="mt-3">Liste des modules de formation :</h3>

{% if is_granted('ROLE_ADMIN')%}
        <a href="{{path('form_module_new')}}" class="btn btn-primary m-3">Ajoutez un module</a>
{% endif %}

{% for formModule in formModules %}
    
        <p class="border border-success rounded p-2"><a class="text-decoration-none text-success fw-semibold p-2" href="{{path('form_module_detail', {'id': formModule.getId()})}}">{{ formModule.getModuleName() }}</a> - Catégorie : {{ formModule.categorie.CategoryModuleName }}</p>
    
{% endfor %}

{% endblock %}
