{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}
<h1>Détail d'un stagiaire</h1>
<h2>{{ stagiaire.prenom | capitalize }} {{ stagiaire.nom | capitalize }}</h2>
Date de naissance : {{ stagiaire.dateNaissance|date('d/m/Y') }}<br>
Ville de résidence : {{ stagiaire.ville | capitalize }}<br>
Email : {{ stagiaire.email }}<br>
Téléphone : {{ stagiaire.phone }}<br>

Liste des sessions suivies :

{% if stagiaire.sessions is empty %}
    <p>Aucune session n'est suivie en ce moment</p>
{% else %}
    {% for session in stagiaire.sessions %}
        <p><a href="/session/{{ session.getId() }}">{{ session.getSessionName() }}</a>, du {{ session.getDateDebutSession()|date('d/m/Y') }} au {{ session.getDateFinSession()|date('d/m/Y') }}</p><br>
    {% endfor %}
{% endif %}

<a href="{{path('stagiaire_edit', {'id': stagiaire.getId()})}}">Editez le stagiaire</a>

{% endblock %}
