{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}

<h2 class="p-2">Détail d'un stagiaire</h2>

<h3 class="p-3">{{ stagiaire.prenom | capitalize }} {{ stagiaire.nom | capitalize }}</h3>
<p>Date de naissance : {{ stagiaire.dateNaissance|date('d/m/Y') }}</p>
<p>Ville de résidence : {{ stagiaire.ville | capitalize }}</p>
<p>Email : {{ stagiaire.email }}</p>
<p>Téléphone : {{ stagiaire.phone }}</p>

<h3 class="p-3">Liste des sessions suivies :</h3>


{% if stagiaire.sessions is empty %}
    <p>Aucune session n'est suivie en ce moment</p>
{% else %}
    {% for session in stagiaire.sessions %}
        <p><a href="/session/{{ session.getId() }}">{{ session.getSessionName() }}</a>, du {{ session.getDateDebutSession()|date('d/m/Y') }} au {{ session.getDateFinSession()|date('d/m/Y') }}</p><br>
    {% endfor %}
{% endif %}

{% if is_granted('ROLE_ADMIN')%}
    <a class="text-decoration-none text-success fw-semibold pb-3" href="{{path('stagiaire_edit', {'id': stagiaire.getId()})}}">Editez le stagiaire</a>
{% endif %}


{% endblock %}
