{% extends 'base.html.twig' %}

{% block title %}liste des stagiaires{% endblock %}

{% block body %}
<h2>Ajoutez un stagiaire</h2>

{{form_start(formEditStagiaire)}}

<div class="row g-3">
    <div class="col-6">
        {{form_row(formEditStagiaire.prenom)}}
    </div>
    <div class="col-6">
        {{form_row(formEditStagiaire.nom)}}
    </div>
    <div class="col-6">
        {{form_row(formEditStagiaire.ville)}}
    </div>
    <div class="col-6">
        {{form_row(formEditStagiaire.dateNaissance)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formEditStagiaire.phone)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formEditStagiaire.email)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formEditStagiaire.sessions)}}
    </div>
    <div class="col-12 text-center pb-3"> 
    {{form_row(formEditStagiaire.valider)}}
    </div>
</div>
{{form_end(formEditStagiaire)}}

{% endblock %}
