{% extends 'base.html.twig' %}

{% block title %}liste des stagiaires{% endblock %}

{% block body %}
<h1>Ajoutez un stagiaire</h1>

{{form_start(formAddStagiaire)}}

<div class="row g-3">
    <div class="col-6">
        {{form_row(formAddStagiaire.prenom)}}
    </div>
    <div class="col-6">
        {{form_row(formAddStagiaire.nom)}}
    </div>
    <div class="col-6">
        {{form_row(formAddStagiaire.ville)}}
    </div>
    <div class="col-6">
        {{form_row(formAddStagiaire.dateNaissance)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formAddStagiaire.phone)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formAddStagiaire.email)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formAddStagiaire.sessions)}}
    </div>
    <div class="col-12 text-center pb-3">
        {{form_row(formAddStagiaire.valider)}}
    </div>
</div>
{{form_end(formAddStagiaire)}}

{% endblock %}
