{% extends 'base.html.twig' %}

{% block title %}liste des stagiaires{% endblock %}

{% block body %}
<h1>Ajoutez un stagiaire</h1>

{{form_start(formAddStagiaire)}}

<div class="row">
    <div class="col-sm">
        {{form_row(formAddStagiaire.prenom)}}
    </div>
    <div class="col-sm">
        {{form_row(formAddStagiaire.nom)}}
    </div>
</div>
<div>
    <div class="col-sm">
        {{form_row(formAddStagiaire.ville)}}
    </div>
    <div class="col-sm">
        {{form_row(formAddStagiaire.dateNaissance)}}
    </div>
</div>
<div class="row">
</div>
<div class="row">
    <div class="col-sm">
        {{form_row(formAddStagiaire.phone)}}
    </div>
    <div class="col-sm">
        {{form_row(formAddStagiaire.email)}}
    </div>
    <div class="col-sm">
        {{form_row(formAddStagiaire.sessions)}}
    </div>
</div>
<div class="w-100">
    {{form_row(formAddStagiaire.valider)}}
</div>
{{form_end(formAddStagiaire)}}

{% endblock %}
