{% extends 'base.html.twig' %}


{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Détails de la session :</h1>
<h2>{{ session.sessionName }}</h2>
Date de début: <strong>{{ session.dateDebutSession|date('d/m/Y') }}</strong><br>
Date de fin : <strong>{{ session.dateFinSession|date('d/m/Y') }}</strong><br> 

Professeur :<a href="{{path('formateur_detail', {'id': session.formateur.getId()})}}">{{session.formateur.prenom}} {{session.formateur.nom}}</a>


<h3>Liste des modules :</h3>

{% if session.programmes is empty %}
    <p>Aucun module n'est prévu pour le moment</p>
{% else %}
    {% for programme in session.programmes %}
        <p>
            <a href="{{ path('form_module_detail', {'id': programme.formModule.id}) }}">
                {{ programme.formModule.moduleName }}
            </a>
            - {{ programme.duree }} jours
            - {{ programme.formModule.categorie.CategoryModuleName }}
                <a href="{{ path('session_desinscrire_module', { session_id: session.id, module_id: programme.formModule.id }) }}" class="btn btn-danger">
                    Déprogrammer
                </a>
        </p>
    {% endfor %}
{% endif %}

<h3>Liste des stagiaires :</h3>
{% for stagiaire in stagiairesInscrits %}
    <p>
        <a href="{{ path('stagiaire_detail', {'id': stagiaire.id}) }}">
            {{ stagiaire.prenom }} {{ stagiaire.nom }}
        </a>
            <a href="{{ path('session_desinscrire_stagiaire', {'session_id': session.id, 'stagiaire_id': stagiaire.id}) }}" class="btn btn-danger">
            Désinscrire</a>
    </p>
{% endfor %}
Places totales : <strong>{{ session.nombrePlace }}</strong><br>
Places restantes : <strong>{{session.getAvailablePlace}}</strong>

Liste des stagiaires non-inscrits :

{% for stagiaire in stagiaires %}
    <p>
        <a href="{{ path('stagiaire_detail', {'id': stagiaire.id}) }}">
            {{ stagiaire.prenom }} {{ stagiaire.nom }}
        </a>
            <a href="{{ path('session_inscrire_stagiaire', {'session_id': session.id, 'stagiaire_id': stagiaire.id}) }}" class="btn btn-success">
            Inscrire</a>
    </p>
{% endfor %}

<h2>Liste des modules non-programmés :</h2>

<form method="post" action="{{ path('session_details', { id: session.id }) }}">
    <table>
        <thead>
            <tr>
                <th>Module</th>
                <th>Durée (en jours)</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modulesNonProgrammes %}
                <tr>
                    <td>{{ module.moduleName }}</td>
                    <td>
                        <input type="number" name="modules[{{ module.id }}]" min="1" value="1" />
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Programmer le(s) module(s)</button>
</form>
{% endblock %}



