{% extends 'base.html.twig' %}


{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Détails de la session :</h1>
<h2>{{ session.sessionName }}</h2>
Date de début: <strong>{{ session.dateDebutSession|date('d/m/Y') }}</strong><br>
Date de fin : <strong>{{ session.dateFinSession|date('d/m/Y') }}</strong><br> 

Professeur :<a href="/formateur/{{session.formateur.getId()}}">{{session.formateur.prenom}} {{session.formateur.nom}}</a>


<h3>Liste des modules :</h3>

{% if session.programmes is empty %}
    <p>Aucun module n'est prévu pour le moment</p>
{% else %}
    {% for programme in session.programmes %}
        <p><a href="/formModule/{{ programme.formModule.getId() }}">{{ programme.formModule.moduleName }}</a> - {{ programme.duree }} jours - {{ programme.formModule.categorie.CategoryModuleName }}</p>
    {% endfor %}
{% endif %}

<h3>Liste des stagiaires :</h3>
{% if session.stagiaires is empty %}
    <p>Aucun stagiaire n'est inscrit en ce moment</p>
{% else %}
    {% for stagiaire in session.stagiaires %}
        <p><a href="/stagiaire/{{stagiaire.getId()}}">{{ stagiaire.prenom }} {{ stagiaire.nom }}</a></p>
    {% endfor %}
{% endif %}

Places totales : <strong>{{ session.nombrePlace }}</strong><br>
Places restantes : <strong>{{session.getAvailablePlace}}</strong>




{% endblock %}



