{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Détails de la session : {{ session.getSessionName() }}</h1>

Professeur :{{session.formateur.prenom}} {{session.formateur.nom}}

<h2>Liste des modules</h2>
{% for programme in programmes %}
    <p>Module : <a href="">{{ programme.formModule.moduleName }}</a> - Durée : {{ programme.duree }} heures</p>
{% endfor %}

<h2>Liste des stagiaires</h2>
{% for stagiaire in stagiaires %}
    <p><a href="">{{ stagiaire.prenom }} {{ stagiaire.nom }}</a></p>
{% endfor %}
{% endblock %}
