{% extends 'base.html.twig' %}

{% block title %}liste des stagiaires{% endblock %}

{% block body %}
<h1>Ajoutez une session</h1>

{{form_start(formAddSession)}}
<div class="row g-3">
    <div class="col-12 text-center">
        {{form_row(formAddSession.sessionName)}}
    </div>
    <div class="col-md-6">
        {{form_row(formAddSession.dateDebutSession)}}
    </div>
    <div class="col-md-6">
        {{form_row(formAddSession.dateFinSession)}}
    </div>
    <div class="col-md-6">
        {{form_row(formAddSession.formateur)}}
    </div>
    <div class="col-md-6">
        {{form_row(formAddSession.formation)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formAddSession.nombrePlace)}}
    </div>
    <div class="col-12 text-center">
        {{form_row(formAddSession.stagiaires)}}
    </div>
    <div class="col-12 text-center m-3">
        {{form_row(formAddSession.valider)}}
    </div>
</div>
{{form_end(formAddSession)}}

{% endblock %}
