{% extends 'base.html.twig' %}

{% block title %}Détail d'un formateur{% endblock %}

{% block body %}
<h2 class="p-3">Détail d'un formateur</h1>
<h3 class="mb-2">{{ formateur.prenom | capitalize }} {{ formateur.nom | capitalize }}</h2>
<p>date de naissance : <strong>{{ formateur.dateNaissance|date('d/m/Y') }}</strong></p>
<p>Ville de résidence : <strong>{{ formateur.ville | capitalize }}</strong></p>
<p>Email : <strong>{{ formateur.email }}</strong></p>
<p>Téléphone : <strong>{{ formateur.phone }}</strong></p>

<h3 class="mt-3 mb-3">Liste des sessions dispensées :</h3>
{% if formateur.sessions is empty %}
<p>Le formateur n'assure aucune session prochainement</p>
{% else %}
    {% for session in formateur.sessions %}
        <p><a class="text-decoration-none text-success border border-success rounded p-2" href="/session/{{ session.getId() }}">{{ session.getSessionName() }}</a>  du {{ session.getDateDebutSession()|date('d/m/Y') }} au {{ session.getDateFinSession()|date('d/m/Y') }}</p>
    {% endfor %}
    
{% endif %}


{% endblock %}
